.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.btn {
  margin: 1rem
}

.icon {
  width: 1rem;
  margin: 1rem 0.5rem;
}

